<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheet/accueil.css">
    <title> Ajouter une série</title>
</head>

<body>
    <header>
        <div>
        <nav class='nav'>
            <ul>
              <li class='logo'>Soap Opera Addict</li>
              <a href='/Home'>Séries</a>
              <a href='/Add'>Ajouter</a>
              <a href='/add'>S'identifier</a>
              </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1>Ajouter des séries</h1>
        <form>
            <div class ="form-control">
                <label>Nom :</label>
                <input type="text"  name="text" placeholder="Prison Break"/>
                </div>
            <div class ="form-control">
                <label>Description :</label>
                <input type="text" name="description" placeholder="Son frère injustement accusé de meurtre, un ingénieur en génie civil décide de le faire évader de prison."/>
                </div>
                <div class ="form-control">
                    <label>Qui aime cette série ?</label>
                    <input type="checkbox" id='user1' name="user1"/>
                    <label for='user1'>User 1</label>
                    <input type="checkbox" id='user2' name="user2"/>
                    <label for='user2'>User 2</label>
                    </div>
            <div class ="form-control">
            <label>Ajouter une image</label>
            <input type="file" id="myFile" name="filename">
            </div>
            <div>
                <button class="btnform"> Ajouter </button>
                <input type="reset" value="Annuler" class="btncancel">
            </div>
    </form>
</body>

<footer>
    <footer>
        <p>Copyright &copy; 2021 Alicia Decruyenaere</p>
    </footer>
</html>