<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>S'identifier</title>
</head>

<body>
    <header>
        <h1>S'identifier</h1>
    </header>

    <main>
        <form>
            <div class ="form-control">
                <label>Pseudo :</label>
                <input type="text" v-model="text" name="text" placeholder="Prison Break"/>
                </div>
            <div>
                <button class="btnform"> Ajouter </button>
                <input type="reset" value="Annuler" class="btncancel">
            </div>
    </form>
</body>

<footer>
    <footer>
        <p>Copyright &copy; 2021 Alicia Decruyenaere</p>
    </footer>
</footer>

</html>